html {
  overflow-x: hidden;
}

body {
  background-color: $black-color;
  color: $white-color;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  @include heading-m-mobile-font;
  margin: 0;
}

h2 {
  @include heading-xl-mobile-font;
  margin: 0;
}

h3 {
  @include heading-l-mobile-font;
  margin: 0;
}
h4 {
  @include heading-m-mobile-font;
  margin: 0;
}

p {
  @include body-mobile-font;
  margin: 0;
}
