// Desktop

@mixin heading-xl-font {
  font-family: $space-grotesk-font;
  font-size: 88px;
  font-weight: 700;
  letter-spacing: -2.5px;
  line-height: 88px;
}

@mixin heading-l-font {
  font-family: $space-grotesk-font;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 56px;
}

@mixin heading-m-font {
  font-family: $space-grotesk-font;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

@mixin heading-body-font {
  font-family: $space-grotesk-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

// Tablet

@mixin heading-xl-tablet-font {
  font-family: $space-grotesk-font;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 72px;
}

@mixin heading-l-tablet-font {
  font-family: $space-grotesk-font;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 56px;
}

@mixin heading-m-tablet-font {
  font-family: $space-grotesk-font;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

@mixin heading-body-tablet-font {
  font-family: $space-grotesk-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

// Mobile

@mixin heading-xl-mobile-font {
  font-family: $space-grotesk-font;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 40px;
}

@mixin heading-l-mobile-font {
  font-family: $space-grotesk-font;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 40px;
}

@mixin heading-m-mobile-font {
  font-family: $space-grotesk-font;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

@mixin heading-body-mobile-font {
  font-family: $space-grotesk-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

@mixin button-font {
  font-family: $space-grotesk-font;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.3px;
  line-height: 26px;
}

@mixin tag-font {
  font-family: $space-grotesk-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
